html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #000302 50%, #28da2e 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #1a3500;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.7);
}

#heading {
  background-color:#ffffff;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #09362317; 
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #093623;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #093623;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #053106;
  color: #00fd94;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  margin-top: 12em;
  color: white;
  color: rgba(255, 255, 255, 0.8  );
  text-align: center;
}
